server:
  port: 8081
spring:
  application:
    name: java-from-scratch
  datasource:
    url: jdbc:h2:mem:productfb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console